.search-form {
    width: 998px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 2.828px 2.828px 3px rgba(44,46,47,0.13);
    background-color: #ffffff;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}