.main-slider {
    margin-top: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 55px;
    line-height: 55px;
    color: #484848;
    font-family: "Raleway";
    font-weight: bold;
}

.small-title {
    font-size: 18px;
    line-height: 18px;
    color: #484848;
    font-family: "Raleway";
    font-weight: 300;
    margin-top: 30px;
}