.navigation-bar {
    float: right;
    height: 100%;
    display: flex;
    margin-right: 185px;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}

.navigation-bar > * + * {
    margin-left: 55px;
}